---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import LinkedinIcon from '../components/icons/Linkedin.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import "../styles/global.css";
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de Javier Castro Retamal - Desarrollador Web"
		description="Portfolio de Javier Castro Retamal - Desarrollador Web"
		keywords="Portfolio, Javier Castro Retamal, Desarrollador Web, Diseño Web, Aplicaciones Web"
		author="Javier Castro Retamal"
		>
	<main class="px-4 md:px-8 lg:px-12 xl:px-16">
		<SectionContainer className="py-44 pb-32">
			<img 
			class="rounded-full size-12 mb-4" 
			src="./src/assets/paraweb2.png" 
			alt="Javoru face"
	    	/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl lg:pb-10 pb-6 font-bold flex flex-row gap-x-4 ">
			Hey, soy Javier <a
				href="https://www.linkedin.com/in/javiercastroretamal/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center"
				>
				<Badge> Disponible para trabajar</Badge>
			</a>
			</h1>
			<h2 class="text-xl lg:text-2xl flex flex-row justify-center text-wrap max-w-[700apx] mt-2">
				5 años de experiencia en el desarrollo web, Diseño web y Desarrollo de aplicaciones web. De Santiago de Chile 🆑
			</h2>

			<nav class="flex gap-x-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/javiercastroretamal/">
						<LinkedinIcon class="size-4 lg:size-6" />
						 LinkedIn
					</SocialPill>
					<SocialPill href="https://github.com/gitcjavier">
						<GitHubIcon class="size-4 lg:size-6" />
						 GitHub
					</SocialPill>
					<SocialPill href="mailto:icastroretamal@gmail.com">
						<MailIcon class="size-4 lg:size-6" />
						 icastroretamal@gmail.com
					</SocialPill>
			</nav>
		</SectionContainer>
		
		<SectionContainer id="experiencia">
			<h2 class="text-3xl flex gap-x-4  mt-2 justify-start items-center">
				<Briefcase class="size-6 " />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl flex gap-x-4 mt-2 justify-start items-center mb-6">
				<CodeIcon class="size-7 " />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
