---
const { href } = Astro.props;

---

<a
    target="_blank"
    href={href}
    role="link"
    class="animated-border-button inline-flex bg-transparent text-white items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition
    focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800/20
    group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring
    focus-visible:ring-offset-2 active:bg-black hover:scale-105"
>
    <slot />
</a>